/* 광고 배너가 페이지에 고정되도록 설정 */
.ad-banner {
    /*!* 배너를 고정 위치로 설정하여 스크롤해도 움직이지 않도록 함 *!*/
    /*position: fixed;*/

    /*!* 배너가 페이지 맨 위에 위치하도록 설정 *!*/
    /*top: 0;*/

    /*!* 배너가 왼쪽 끝에서 시작하도록 설정하여 전체 너비를 차지 *!*/
    /*left: 0;*/

    /*!* 배너가 페이지의 전체 너비를 차지하도록 설정 *!*/
    /*width: 100%;*/

    /*!* 배너의 높이를 150px로 설정하여 적절한 크기로 조정 (필요에 따라 조정 가능) *!*/
    /*height: 500px; !* 원하는 높이로 변경 *!*/

    /* 배너 안의 콘텐츠를 가로 중앙에 배치 */
    display: flex;

    /* 배너 안의 콘텐츠를 가로 방향으로 중앙 정렬 */
    justify-content: center;

    /*!* 배너 안의 콘텐츠를 세로 방향으로 중앙 정렬 *!*/
    /*align-items: center;*/

    /*!* 배너의 배경색을 밝은 회색으로 설정 (필요에 따라 수정 가능) *!*/
    /*background-color: #f5f5f5; !* 배경 색상 (필요시 수정) *!*/

    /*!* 배너의 z-index를 높여 다른 요소 위에 표시되도록 설정 *!*/
    /*z-index: 1000; !* 다른 요소 위에 표시 *!*/
}

/*!* 광고 배너 안의 이미지에 대한 스타일 설정 *!*/
/*.ad-banner img {*/
/*    !* 이미지의 최대 너비를 배너의 100%로 설정하여 배너 크기에 맞게 자동 조정 *!*/
/*    max-width: 100%;*/

/*    !* 이미지의 높이를 자동으로 설정하여 비율이 유지되도록 함 *!*/
/*    height: auto;*/
/*}*/

.add-ad-button {
    position: absolute;
    bottom: 100px;
    left: 20px;
    padding: 10px 20px;
    background-color: #efefef;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}