/* CategoryItem.css */
.category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 120px; /* 이미지 및 텍스트의 너비 */
    padding: 10px;
}

.category-link {
    text-decoration: none;
    color: inherit;
}

.category-item img {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* 둥근 이미지 */
    object-fit: cover;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}

.category-item span {
    margin-top: 8px; /* 이미지와 텍스트 사이의 간격 */
    font-size: 14px;
    color: #666; /* 텍스트 색상 */
    font-family: Arial, sans-serif;
}
